[Unit]
Description=Flask server to draw kindle dashboard
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/Python/pi-scripts/kindle-dashboard/draw-dash
ExecStart=/home/pi/Envs/kindledash/bin/python /home/pi/Python/pi-scripts/kindle-dashboard/draw-dash/serve.py >> /home/pi/Logs/kindle-dash-server.log 2>&1
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target
